$titleFont: "Berkshire Swash";
$mainFont: 'Dosis', sans-serif;
$boxShadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
$boxShadowHeader: 5px 10px 24px -4px rgba(0,0,0,0.1);
$boxShadowFooter: -5px -10px 24px -4px rgba(0,0,0,0.1);
$borderRadius: 20px;
$brightMint: #a0d6b4;
$fadedBlue: #719fb0;
$fadedPurple: #726a95;
$fadedMint: #a0c1b8;
$mintHover: #afd5cb;
$purpleHover: #968bc5;



body{
  margin: 0;
  background-color: transparent;
  font-size: 22px;
}

.background{
  background-repeat: repeat;
  background-size: 350px;
  opacity: 0.05;
  background-attachment: fixed;
  min-height: 100vh;
}



.landing {
  margin: 0 auto;
  height: 99vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: fixed;
}

.divStyle {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.landingDiv{
  color: $brightMint;
  font-family: $mainFont;
  margin: 0 auto;
  max-width: 1200px;
  padding: 35px 20px 20px 20px;
}

.landingTitle{
  font-size: 40px;
  color: $brightMint;
  font-family: $titleFont;
  margin: 40px 0 20px 0;
}
.landingSubt{
  font-size: 25px;
  color: $fadedBlue;
  font-family: $mainFont;
  font-weight: bold;
  margin-bottom: 30px;
}

.welcome{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  margin: 35px 35px -100px 35px;
}

.whiteBanner{
  width: 100vw;
  height: 110px;
  background-color: white;
  position: absolute;
  top:0px;
  left: 0px;
  z-index: -100;
  box-shadow: $boxShadowHeader;
}

.textBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: $brightMint;
  border-radius: $borderRadius;
  margin: 0 20px 20px 30px;
  padding: 50px 30px 30px 30px;
  box-shadow: $boxShadow;
  h3{
    font-family: $titleFont;
    color: $fadedBlue;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: left;
    width: 90%;
  }
}


.landingText{
  text-align: left;
  color: $fadedPurple;
  width: 90%;
  margin-bottom: 30px;
}

.landingCards{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.landingImage{
  margin-right: -150px;
}

.card{
  width: 300px;
  border-radius: $borderRadius;
  background-color: $fadedPurple;
  color: $brightMint;
  margin: 15px;
  box-shadow: $boxShadow;
  p {
    padding: 5px 8px 8px 8px;
    text-align: center;
  }
}

.card:hover{
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  background-color: $purpleHover;
}

button:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.iconsLanding{
  display: flex;
  margin: 30px;
}

.cardImage{
  width: 300px;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.rounded{
  border-radius: $borderRadius;
  margin: 0 auto;
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}



.mainText {
  margin-top: -35px;
  text-align: center;
  border-radius: $borderRadius;
  background-color: $fadedPurple;
  color: $brightMint;
  font-size: 20px;
  padding: 50px 30px 30px 30px;
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
  width: inherit;
  h3{
    font-weight: bold;
    color: $fadedBlue;
    font-size: 25px;
    margin: 20px 0 10px 0
  }
  p{
    margin-bottom: 20px;
  }
}

.crystalSummery{
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.bold {
  font-weight: bold;
}

.name{
  font-size: 50px;
  font-family: $titleFont;
  text-align: center;
  color: $fadedMint;
  margin-bottom: 30px;
}

.flexLines{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.backButton{
  position: absolute;
  top: 140px;
  left: 40px;
}

.centerImage{
  margin: 0 auto;
}

.menuFlex{
  padding-top: 15px;
}

.menuItem{
  color: $brightMint;
  padding-right: 10px;
  font-weight: bold;
  font-family: $mainFont;
  font-size: 20px;
}

.menuItem:hover{
  color: $mintHover;
}

.tagLink{
  display: flex;
  justify-content: center;
  width: 180px;
  height: 50px;
  background-color: $brightMint;
  border-radius: $borderRadius;
  padding-top: 3px;
  margin: 7px;
  color: $fadedPurple;
  font-weight: bold;
  font-size: 20px;
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
    p {
        margin: 5px 0px 10px 5px;
    }

}

.tagLink:hover{
  background-color: $mintHover;
}



.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}



.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 80px 0 0 -35px;
  font-family: $titleFont;
}

.titleH2{
  color: $fadedBlue;
  font-size: 50px;
  margin: 40px 0 0 25px;
  font-family: $titleFont;
}

.purple {
  background-color: $fadedPurple;
  color: $fadedMint;
  width: 240px;

}

.purple:hover{
  background-color: $purpleHover;
}

.purpleColor{
  color: $fadedPurple;
}

.green {
  background-color: $fadedMint;
  color: $fadedPurple;
}

@media only screen and (max-width: 950px){
  .landingImage{
    margin-right: 0;
  }

  .welcome{
    margin: 35px 35px -50px 35px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 699px){
  .titleH2{
    font-size: 36px;
    margin: 20px 0 0 15px;
  }

  .name{
    font-size: 36px;
    margin-top: 45px;
  }

  .mainText{
    margin-bottom: 50px;
  }

  .backButton{
    position: absolute;
    margin: 0 auto;
    top: auto;
    bottom: 80px;
    right: 0;
    left: 0;
  }

  .detailSVG{
    width: 135px;
  }

  .title {
    justify-content: center;
    margin: 30px 0 -80px 0;
  }

  .welcome{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px 5px 10px 5px;
  }


  .landingTitle{
    font-size: 35px;
  }

  .landingSubt{
    font-size: 20px;
  }

  .whiteBanner{
    height: 70px;
  }

  .indexButton{
    margin-bottom: 50px;
  }

  .landingCards{
    flex-direction: column;
  }

  .landingText{
    width: auto;
  }

  .textBox{
    margin: 40px 5px 5px 5px;
  }

}

/* Grimoire */
.grimoireButton {
  width: auto;
  height: 20px;
  margin-left: 10px;
}

.grimoire{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.note{
  margin: 20px 10px 10px 10px;
  text-align: center;
  width: 85%;
  border-radius: 22px;
  background-color: #726a95;
  color: #a0c1b8;
  font-size: 24px;
  padding: 50px 20px 30px 20px;
  -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
  -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
  box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.noteTitle{
  font-size: 30px;
  font-weight: bold;
}

.control {
  margin-top: 15px;
}

/* Burger menu styling */

.bm-item{
  color: $fadedPurple;
  display: inline-block;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
}

.bm-item-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: $brightMint;
  border-radius: 5px;
  width: 30px;
  height: 3px;
}

.bm-cross-button{
  width: 30px;
  height: 30px;
}

#react-burger-cross-btn {
  height: 30px;
  width: 30px;
}

.bm-menu {
  background-color: $brightMint;
}

.bm-cross {
   background-color: $fadedPurple;
   width: 4px;
   height: 20px;
   border-radius: 5px;
 }


.mobileLogo{
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  height: 50px;
  width: auto;
}

.menu-item:hover{
  color: $purpleHover;
}

footer{
  margin-top: 40px;
  text-align: center;
  padding-bottom: 10px;
  color: $brightMint;
}

.whiteFooter{
  width: 100vw;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom:0px;
  left: 0px;
  z-index: -100;
  box-shadow: $boxShadowFooter;
}