body {
  margin: 0;
  background-color: transparent;
  font-size: 20px;
}

.background {
  background-repeat: repeat;
  background-size: 350px;
  opacity: 0.05;
  background-attachment: fixed;
  min-height: 100vh;
}

.landing {
  margin: 0 auto;
  height: 99vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: fixed;
}

.divStyle {
  margin: 0 auto;
  max-width: 830px;
  padding: 20px;
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.landingDiv {
  color: #a0d6b4;
  font-family: "Dosis", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 35px 20px 20px 20px;
}

.landingTitle {
  font-size: 40px;
  color: #a0d6b4;
  font-family: "Berkshire Swash";
  margin: 40px 0 20px 0;
}

.landingSubt {
  font-size: 25px;
  color: #719fb0;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  margin: 35px;
}

.whiteBanner {
  width: 100vw;
  height: 110px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #a0d6b4;
  border-radius: 20px;
  margin: 40px 20px 20px 30px;
  padding: 30px;
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
}

.landingText {
  text-align: center;
  width: 480px;
  color: #726a95;
  margin-bottom: 30px;
}

.landingCards {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  border-radius: 20px;
  background-color: #719fb0;
  color: #726a95;
  margin: 15px;
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
}

.cardImage {
  width: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded {
  border-radius: 20px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
}

.mainText {
  margin-top: -35px;
  text-align: center;
  border-radius: 20px;
  background-color: #726a95;
  color: #a0d6b4;
  font-size: 20px;
  padding: 50px 30px 30px 30px;
  -webkit-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  width: inherit;
}

.crystalSummery {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.name {
  font-size: 50px;
  font-family: "Berkshire Swash";
  text-align: center;
  color: #a0c1b8;
  margin-bottom: 30px;
}

.flexLines {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.centerImage {
  margin: 0 auto;
}

.menuFlex {
  padding-top: 15px;
}

.menuItem {
  color: #a0d6b4;
  padding-right: 10px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}

.menuItem:hover {
  color: #afd5cb;
}

.tagLink {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 50px;
  background-color: #a0d6b4;
  border-radius: 20px;
  padding-top: 3px;
  margin: 7px;
  color: #726a95;
  font-weight: bold;
  font-size: 20px;
  -webkit-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
}
.tagLink p {
  margin: 5px 0px 10px 5px;
}

.tagLink:hover {
  background-color: #afd5cb;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 80px 0 0 -35px;
  font-family: "Berkshire Swash";
}

.titleH2 {
  color: #719fb0;
  font-size: 50px;
  margin: 40px 0 0 25px;
  font-family: "Berkshire Swash";
}

.purple {
  background-color: #726a95;
  color: #a0c1b8;
  width: 240px;
}

.purple:hover {
  background-color: #968bc5;
}

.purpleColor {
  color: #726a95;
}

.green {
  background-color: #a0c1b8;
  color: #726a95;
}

@media only screen and (max-width: 700px) {
  .titleH2 {
    font-size: 32px;
    margin: 20px 0 0 15px;
  }

  .name {
    font-size: 32px;
  }

  .detailSVG {
    width: 135px;
  }

  .title {
    justify-content: center;
    margin: 30px 0 -80px 0;
  }

  .welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px 5px 10px 5px;
  }

  .landingTitle {
    font-size: 35px;
  }

  .landingSubt {
    font-size: 20px;
  }

  .whiteBanner {
    height: 70px;
  }

  .indexButton {
    margin-bottom: 50px;
  }
}
/* Grimoire */
.grimoireButton {
  width: auto;
  height: 20px;
  margin-left: 10px;
}

.grimoire {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.note {
  margin: 20px 10px 10px 10px;
  text-align: center;
  width: 85%;
  border-radius: 22px;
  background-color: #726a95;
  color: #a0c1b8;
  font-size: 24px;
  padding: 50px 20px 30px 20px;
  -webkit-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
  box-shadow: 5px 10px 24px -4px rgba(0, 0, 0, 0.23);
}

.noteTitle {
  font-size: 30px;
  font-weight: bold;
}

.control {
  margin-top: 15px;
}

/* Burger menu styling */
.bm-item {
  color: #726a95;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #a0d6b4;
  border-radius: 5px;
  width: 30px;
  height: 3px;
}

.bm-cross-button {
  width: 30px;
  height: 30px;
}

#react-burger-cross-btn {
  height: 30px;
  width: 30px;
}

.bm-menu {
  background-color: #a0d6b4;
}

.bm-cross {
  background-color: #726a95;
  width: 4px;
  height: 20px;
  border-radius: 5px;
}

.mobileLogo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  height: 50px;
  width: auto;
}

.menu-item:hover {
  color: #968bc5;
}

/*# sourceMappingURL=layout.css.map */
