
body{
    margin: 0;
    background-color: transparent;
    font-size: 20px;
}

.background{
    background-repeat: repeat;
    background-size: 350px;
    opacity: 0.2;
    height: 100vh;
}



.landing {
    margin: 0 auto;
    height: 99vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}



.divStyle {
    margin: 0 auto;
    max-width: 880px;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
}


.landingDiv{
    color: #a0c1b8;
    width: 80vw;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    max-width: 950px;
    padding: 35px 20px 20px 20px;
}

.landingTitle{
    font-size: 40px;
    color: #719fb0;
    font-family:"Berkshire Swash";
    margin-top: 30px;
}
.landingSubt{
    font-size: 25px;
    color: #719fb0;
    font-family:"Berkshire Swash";
}

.textBox{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.buttonFlex{
    display: flex;
    justify-content: flex-end;
}

.landingText{
    text-align: right;
    width: 480px;
}

.rounded{
    border-radius: 20px;
    margin: 0 auto;
    -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.description {
    margin-top: -35px;
    text-align: center;
    width: inherit;
    border-radius: 22px;
    background-color: #726a95;
    color: #a0c1b8;
    font-size: 24px;
    padding: 50px 20px 30px 20px;
    -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.crystalsummery{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-content: center;
}

p {
    padding: 10px 15px 10px 15px;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.name{
    font-size: 50px;
    font-family:"Berkshire Swash";
    text-align: center;
    color: #a0c1b8;
    margin-bottom: 30px;
}

.flexLines{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.centerImage{
    margin: 0 auto;
}

.menuFlex{
    padding-top: 15px;
}

.menuItem{
    color: #a0d6b4;
    padding-right: 10px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.tagLink{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 50px;
    background-color: #a0c1b8;
    border-radius: 20px;
    padding-top: 3px;
    margin: 7px;
    color: #726a95;
    font-weight: bold;
    font-size: 24px;
    -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.tagLink:hover{
    background-color: #afd5cb;
}

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 25px;
}


.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 25px 0 0 -35px;
    font-family:"Berkshire Swash";
}

.titleH2{
    color: #719fb0;
    font-size: 50px;
    margin: 40px 0 0 25px;
    font-family:"Berkshire Swash";
}

.purple {
    background-color: #726a95;
    color: #a0c1b8;
    width: 240px;

}

.purple:hover{
    background-color: #968bc5;
}

.purpleColor{
    color: #726a95;
}

.green {
    background-color: #a0c1b8;
    color: #726a95;
}

@media only screen and (max-width: 600px){
    .titleH2{
        font-size: 32px;
        margin: 20px 0 0 15px;
    }

    .name{
        font-size: 32px;
    }

    .detailSVG{
        width: 150px;
    }

    .title {
        justify-content: center;
        margin: 10px 0 -70px 0;
    }

}


