

body{
    margin: 0;
}

.landing {
    margin: 0 auto;
    height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.divStyle {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
}

.rounded{
    border-radius: 20px;
    margin: 0 auto;
    -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.description {
    margin-top: -35px;
    text-align: center;
    width: inherit;
    border-radius: 20px;
    background-color: #726a95;
    padding: 50px 20px 20px 20px;
    -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.crystalsummery{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-content: center;
}

p {
    padding: 10px 15px 10px 15px;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.name{
    font-size: 28px;
    font-weight: bold;
}

.flexLines{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.centerImage{
    margin: 0 auto;
}

.menuFlex{
    padding-top: 15px;
}

.menuItem{
    color: #a0d6b4;
    padding-right: 10px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.tagLink{
    width: 165px;
    height: 50px;
    background-color: #a0c1b8;
    border-radius: 20px;
    margin: 10px;
    color: #726a95;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
    box-shadow: 5px 10px 24px -4px rgba(0,0,0,0.23);
}

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


